html, body {
  margin: 0;
  padding: 0;
}

.menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 20px;
}

.file-input {
  outline: none;
}

.file-input-disable {
  opacity: .3;
  pointer-events: none;
}

canvas {
  z-index: 0;
}

input[type=checkbox] {
  margin: 0 32px 0 0;
}
