html, body {
  margin: 0;
  padding: 0;
}

.menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 20px;
  box-sizing: border-box;
}

.file-input {
  outline: none;
}

.file-input-disable, .file-input-disable-2d {
  opacity: .3;
  pointer-events: none;
}

canvas {
  z-index: 0;
}

input[type=checkbox] {
  margin: 8px 32px 0 0;
}

#canvas2d {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}
